<div class="container-fluid py-4 mw-md">
  <div class="text-center mt-5">
  <% if @post.image.present? %>
    <img src=<%= @post.image %> class="show-image">
  <% else %>
    <img src="/assets/noimage.png" class="show-image">
  <% end %>
  </div>
  <div class="text-center pb-3 mb-3 border-bottom">
    <h4 class="mt-5"><%= @post.content %></h4>
    <%= render "posts/like" %>
    <% if current_user&.id == @post.user_id %>
      <div class="mt-5">
        <%= link_to "編集", edit_post_path(@post), class: "text-dark" %>
        <%= link_to "削除", post_path(@post), method: :delete, class: "text-dark" %>
      </div>
    <% end %>
  </div>
  <% if @comments %>
    <h3 class="mt-5 text-center mb-5">コメント</h3>
    <% @comments.each do |c| %>
      <div class="border-bottom">
        <p><span class="comment-contents">ユーザー名：</span> <%= link_to c.user.username, c.user, class: "text-dark" %></p>
        <p><span class="comment-contents">コメント：</span> <%= c.content %></p>
          <% if current_user&.id == c.user_id %>
            <p class="text-right"><%= link_to "削除", post_comment_path(@post, c), method: :delete, class: "text-dark" %></p>
          <% end %>
      </div>
      <br />
    <% end %>
    <div class="text-center">
    <%= paginate @comments %>
  </div>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <div class="text-center mt-3">
        <%= button_tag type: "submit", class: "btn p-2 pl-5 pr-5 text-white" do %>
          コメントする
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
  <%= link_to t("戻る"), :back, class: "text-center text-dark" %>
</div>