<nav class="header-nav">
  <%= link_to "MolkkyRecord", root_path, class: "navbar-brand" %>
  <div>
    <ul class="menu">
      <% if user_signed_in? %>
        <%# ヘッダーナビボタン（ログイン時） %>
        <button type="button" class="hamburger-btn js-btn hamburger-button">
          <span class="btn-line"></span>
        </button>
        <li class="menu-list">
          <%= link_to "お知らせ", notifications_path, class: "text-white my-3" %>
        </li>
        <li class="menu-list">
          <%= link_to "#{current_user.username}", user_path(current_user.id), class: "text-white my-3" %>
        </li>
        <li class="menu-list">
          <%= link_to "つぶやき", new_post_path, class: "text-white my-3" %>
        </li>
        <li class="menu-list">
          <%= link_to "スコア投稿", new_record_path, class: "text-white my-3" %>
        </li>
        <li class="menu-list">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white my-3" %>
        </li>
      <% else %>
        <%# ヘッダーナビボタン（未ログイン時） %>
        <button type="button" class="hamburger-btn js-btn hamburger-button">
          <span class="btn-line"></span>
        </button>
        <li class="menu-list">
          <%= link_to "かんたんログイン", users_guest_sign_in_path, method: :post, class: "text-white nav-link header-nav-link" %>
        </li>
        <li class="menu-list">
          <%= link_to "ログイン", new_user_session_path, class: "text-white nav-link header-nav-link" %>
        </li>
        <li class="menu-list">
          <%= link_to "新規登録",new_user_registration_path, class: "text-white nav-link header-nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
